<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="sidebar">

	<div class="sidebar">

	<div class="logo">

	Student Panel

	</div>

	<ul>

	<li>
	<a href="/student/dashboard">
	Dashboard
	</a>
	</li>

	<li>
	<a href="/student/attendance">
	Attendance
	</a>
	</li>

	<li>
	<a href="/student/result">
	Results
	</a>
	</li>

	<li>
	<a href="/student/fees">
	Fees
	</a>
	</li>

	<li>
	<a href="/student/timetable">
	Timetable
	</a>
	</li>

	</ul>

	</div>

	</div>

</body>
</html>