body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0f172a,#1e40af);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-card{
    background:white;
    padding:40px;
    border-radius:20px;
    width:400px;
    box-shadow:0 10px 40px rgba(0,0,0,0.3);
}

.auth-card h2{
    text-align:center;
    margin-bottom:30px;
}