*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f1f5f9;
}

/* SIDEBAR */

.sidebar{
    position:fixed;
    width:260px;
    height:100vh;
    background:#0f172a;
    padding:20px;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:40px;
    text-align:center;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:20px 0;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:12px;
    border-radius:10px;
    transition:0.3s;
}

.sidebar ul li a:hover{
    background:#2563eb;
}

/* MAIN */

.main-content{
    margin-left:260px;
    padding:30px;
}

/* TOPBAR */

.topbar{
    background:white;
    padding:20px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

/* CARDS */

.cards{
    margin-top:30px;
}

.dashboard-card{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card h2{
    font-size:40px;
    margin-bottom:10px;
}

.stat-card{
    border-radius:20px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.stat-card:hover{
    transform:translateY(-5px);
}

.stat-number{
    font-size:40px;
    font-weight:bold;
}

.stat-title{
    color:#666;
}


/* TABLE */

.custom-table{
    background:white;
    padding:20px;
    margin-top:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

/* RESPONSIVE */

@media(max-width:768px){

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }

    .main-content{
        margin-left:0;
    }

}

.menu-item{
    position: relative;
}

.submenu{
    display:none;
    list-style:none;
    margin-top:5px;
    margin-left:15px;
    padding-left:10px;
    border-left:2px solid #2563eb;
}

.submenu li{
    margin:8px 0;
}

.submenu li a{
    font-size:14px;
    padding:8px 12px;
    background:#1e293b;
}

.menu-item:hover .submenu{
    display:block;
}